<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}">
    <title>Title</title>
</head>
<body>
<div class="header-nav">
    <a th:href="@{/index}" class="btn">Log out</a>
</div>
<h1>Admin</h1>
<a class="button-row" th:href="@{/businessDeveloper?user_role=admin}"> Business developer</a>
<a class="button-row" th:href="@{/dataRegistrationHomePage?user_role=admin}"> Data registration</a>
<a class="button-row" th:href="@{/autoRepairHomePage?user_role=admin}">Auto repair</a>
<footer class="site-footer">
    <div class="footer-content">
        <p class="footer-title">Kontakt Os!</p>
        <p class="footer-phone">89 88 50 80</p>
    </div>
</footer>
</body>
</html>


