<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>autoRepair</title>
</head>
<body>
<h1>Opret skadesrapport</h1>

<div class="container">
    <div class="square">
        <form th:action="@{/saveDamageReport}" method="post">
            <div>
                <label for="car_id">Vognnummer:</label>
                <input type="text" id="car_id" name="car_id" placeholder="Indtast bilens vognnummer her" required>
            </div>
            <div>
                <label for="date">Dato:</label>
                <input type="date" id="date" name="date" placeholder="Indtast dato her" required>
            </div>
            <div class="button-row">
                <button class="btn" type="submit">Opret skadesrapport</button>
            </div>
        </form>




    </div>
</div>
</body>
</html>
