<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
<div class="container">
    <div class="square">
        <form th:action="@{/saveDamageReport}" method="post">
            <div>
                <label for="car_id">Bil ID:</label>
                <input type="text" id="car_id" name="car_id" placeholder="Indtast bilens id her" required>
            </div>
            <div>
                <label for="date">Dato:</label>
                <input type="date" id="date" name="date" placeholder="Indtast dato her" required>
            </div>
            <div class="button-row">
                <button class="btn" type="submit">Opret Skadesrapport</button>
            </div>
        </form>

        <form th:action="@{/deleteDamageReport}" method="post">
            <div>
                <label for="car_id_to_delete">Bil ID til sletning:</label>
                <input type="text" id="car_id_to_delete" name="car_id" placeholder="Indtast bilens id for sletning" required>
            </div>
            <div class="button-row">
                <button class="btn" type="submit">Slet Skadesrapport</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
