<!DOCTYPE html>
      <html lang="en" xmlns:th="http://www.thymeleaf.org">
      <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" th:href="@{/style.css}">
      <title>AutoRepair HomePage</title>
</head>
<body>
<h1>AutoRepair HomePage</h1>

<a class="button-row" th:href="@{/autoRepair(user_role=${param.user_role})}">Opret en skadesrapport</a>
<a class="button-row" th:href="@{/showDamagereports(user_role=${param.user_role})}">Se skadesrapporter</a>
<br/><div th:if="${adminBtn}">
      <a class="button-row" th:href="@{/admin(user_role=admin)}">Gå tilbage</a>
</div>
<footer class="site-footer">
      <div class="footer-content">
            <p class="footer-title">Kontakt Os!</p>
            <p class="footer-phone">12 34 56 78</p>
      </div>
</footer>
</body>
</html>
