<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Business developer</title>
</head>
<body>
<h1>Business developer</h1>

<div class="container">
    <div class="square">
        <div>
            <p>Alle udlejet biler: <span th:text="${totalRentedCars}"></span></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="square">
        <div>
            <p>Alle udlejet biler: <span th:text="${totalRentedCars}"></span></p>
        </div>
    </div>
</div>
</body>
</html>