<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>damageItems</title>
</head>
<body>
<div class="header-nav">
    <a th:href="@{/index}" class="btn">Log out</a>
</div>
<h1>Tilføj skade</h1>

<form th:action="@{/saveDamageItems}" method="post">

    <input type="hidden" name="dmg_id" th:value="${dmg_id}" />


        <label>Beskrivelse:</label>
        <input type="text" name="description" placeholder="Beskrivelse af skade" required>

        <label>Pris:</label>
        <input type="number" name="cost" placeholder="Pris i DKK" required>
        <br><br>
    </div>

    <button class="btn" type="submit">Gem skade</button>
</form>
<footer class="site-footer">
    <div class="footer-content">
        <p class="footer-title">Kontakt Os!</p>
        <p class="footer-phone">12 34 56 78</p>
    </div>
</footer>
</body>
</html>
