<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Data Registration HomePage</title>
</head>
<body>
<div class="header-nav">
    <a th:href="@{/index}" class="btn">Log out</a>
</div>
<h1>Data Registration HomePage</h1>

<a class="button-row" th:href="@{/dataRegistration(user_role=${param.user_role})}">Data Registration</a>
<a class="button-row" th:href="@{/dataRegistrationAllLeasings(user_role=${param.user_role})}">Registrerede leasingsaftaler</a>
<a class="button-row" th:href="@{/advanceCarSaleShowing(user_role=${param.user_role})}">Forhånds salg</a>

</body>
</html>
