<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" th:href="@{style.css}">
  <title>Dataregistrering All Leasing</title>
</head>
<body>
<div class="header-nav">
  <a th:href="@{/index}" class="btn">Log out</a>
</div>
<h1>Alle Registrerede Leasingaftaler</h1>

<div class="container">
  <div class="square" th:each="leasing : ${leasingList}">
    <div>
      <label>Vognnummer:</label>
      <span th:text="${leasing.car_id}">ID</span>
    </div>
    <div>
      <label>Startdato for leasing:</label>
      <span th:text="${leasing.start_date}">Startdato</span>
    </div>
    <div>
      <label>Slutdato for leasing:</label>
      <span th:text="${leasing.end_date}">Slutdato</span>
    </div>
    <div>
      <label>Pris:</label>
      <span th:text="${leasing.price}+ kr">Pris</span>
    </div>
    <div>
      <label>Status:</label>
      <span th:text="${leasing.status}">Status</span>
    </div>
    <div>
      <label>Førerens navn:</label>
      <span th:text="${leasing.customer_info}">Kundeinformation</span>
    </div>
    <form th:action="@{/deleteLeasing}" method="post" onsubmit="return confirm('Er du sikker på, at du vil slette denne leasingaftale?');">
      <input type="hidden" name="id" th:value="${leasing.id}" />
      <button type="submit" class="btn">Slet Leasing</button>
    </form>
    <form th:action="@{/getUpdateLeasing}" method="get">
      <input type="hidden" name="id" th:value="${leasing.id}" />
      <button type="submit" class="btn">Opdater Leasing</button>
    </form>
  </div>
</div>
<a class="button-row" th:href="@{/dataRegistrationHomePage(user_role=${param.user_role})}">Gå tilbage</a>
<footer class="site-footer">
  <div class="footer-content">
    <p class="footer-title">Kontakt Os!</p>
    <p class="footer-phone">89 88 50 80</p>
  </div>
</footer>
</body>
</html>
