<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{style.css}">
  <title>index</title>
</head>

<body>

<div class="login-container">
  <div class="form-container">
    <h2>Login</h2>
    <form th:action="@{/login}" th:object="${user}" method="post">
      <div th:if="${errorMessage}" class="error-message">
        <p th:text="${errorMessage}"></p>
      </div>
      <label for="username">Brugernavn:</label>
      <input type="text" id="username" name="username" placeholder="Indtast dit brugernavn her" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Indtast dit password her" required>


      <div class="button-row">
        <button class="btn" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>

</body>

</html>

</html>