<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Alle skadesrapporter</title>
  <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
<h1>Alle skadesrapporter</h1>

<div class="container">
  <div class="square" th:each="report : ${reportList}">

    <div>
      <label>Rapport ID:</label>
      <span th:text="${report.id}">ID</span>
    </div>
    <div>
      <label>Vognnummer:</label>
      <span th:text="${report.car_id}">Car ID</span>
    </div>
    <div>
      <label>Dato:</label>
      <span th:text="${report.date}">Dato</span>
    </div>

    <div>
      <h4>Skader:</h4>
      <ul>
        <li th:each="item : ${report.damageItems}">
          Beskrivelse: <span th:text="${item.description}"></span>,
          Pris: <span th:text="${item.cost}"></span> DKK
        </li>
      </ul>
    </div>

    <form th:action="@{/deleteDamageReport}" method="post"
          onsubmit="return confirm('Er du sikker på, at du vil slette denne skadesrapport?');">
      <input type="hidden" name="id" th:value="${report.id}" />
      <button type="submit">Slet Rapport</button>
    </form>

    <form th:action="@{/updateDamageReport}" method="get" style="display:inline;">
      <input type="hidden" name="id" th:value="${report.id}" />
      <button type="submit">Opdater</button>
    </form>


  </div>
</div>
</body>
</html>
