<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opdater Skadesrapport</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
<div class="container">
    <div class="form-container">
        <h1>Opdater Skadesrapport</h1>
        <form th:action="@{/saveUpdateDamageReport}" method="post">


            <input type="hidden" name="id" th:value="${damageReport.id}" />

            <label for="car_id">Vognnummer:</label>
            <input type="number" id="car_id" name="car_id" placeholder="Indsæt vognnummer" th:value="${damageReport.car_id}" required />

            <label for="date">Dato:</label>
            <input type="date" id="date" name="date" th:value="${damageReport.date}" required />

            <button type="submit">Gem ændringer</button>
        </form>
    </div>
</div>
</body>
</html>
